/** 
 * Stylesheet for TwistieNav plugin
 *
 * @author Håkan Sandell <sandell.hakan@gmail.com>
 */
@font-face {
    font-family: 'twistienav';
    src:
        url('fonts/twistienav.ttf?4du7t3') format('truetype'),
        url('fonts/twistienav.woff?4du7t3') format('woff'),
        url('fonts/twistienav.svg?4du7t3#twistienav') format('svg');
    font-weight: normal;
    font-style: normal;
}

.dokuwiki div.breadcrumbs span.twistienav_twistie {
    margin: 0 .4em 0 .2em;
    padding: 0;
    background: none;
}
.dokuwiki div.breadcrumbs span.twistienav_twistie:before {
    font-family: twistienav;
    font-size: .9em;
    content: "\e900";
    color: __text_alt__;
}
.dokuwiki div.breadcrumbs span.twistienav_twistie.twistienav_down:before {
    content: "\e907";
}

div#twistienav__popup {
  background-color: #eef;
  color: #000;
  z-index: 20;
  overflow: hidden;
  opacity: 0.95;
  border: 1px solid __border__;
  background-color: __background_other__;
  text-align: left;
  padding: 0.2em;
}

div#twistienav__popup ul {
  margin: 0px;
  padding-left: 0px;
}

div#twistienav__popup ul li {
  margin-left: 0px;
  list-style: none;
} 

div#twistienav__popup ul li a.twistienav_ns {
  font-weight: bold;
}
