/** 
 * Stylesheet for TwistieNav plugin
 *
 * @author Håkan Sandell <sandell.hakan@gmail.com>
 */
.dokuwiki div.breadcrumbs span.twistienav_twistie:before,
.dokuwiki div.breadcrumbs span.twistienav_map:before,
.dokuwiki a.twistienav_extratwistie:before {
    margin: 0 0 0 3px;
    cursor:alias;
}
.dokuwiki div.breadcrumbs span.twistienav_twistie.svg:before {
    content: url(images/circle-right.svg);
}
.dokuwiki div.breadcrumbs span.twistienav_twistie.fa:before {
    content: "\f0a9";
    color: @ini_text_alt;
}
.dokuwiki div.breadcrumbs span.twistienav_twistie.fa:hover:before {
    color: @ini_text_neu;
}
.dokuwiki div.breadcrumbs span.twistienav_twistie.twistienav_down.svg:before {
    content: url(images/cancel-circle.svg) !important;
}
.dokuwiki div.breadcrumbs span.twistienav_twistie.twistienav_down.fa:before {
    content: "\f057" !important;
}
.dokuwiki div.breadcrumbs span.twistienav_map.svg:before,
.dokuwiki a.twistienav_extratwistie.svg:before {
    content: url(images/map.svg);
}
.dokuwiki div.breadcrumbs span.twistienav_map.fa:before,
.dokuwiki a.twistienav_extratwistie.fa:before {
    content: "\f278";
    margin: 0 0 0 5px;
    color: @ini_text_alt;
}
.dokuwiki div.breadcrumbs span.twistienav_map.fa:hover:before,
.dokuwiki a.twistienav_extratwistie.fa:hover:before {
    color: @ini_text_neu;
}
.dokuwiki .twistienav_map.twistienav_down.svg:before,
.dokuwiki a.twistienav_extratwistie.twistienav_down.svg:before {
    content: url(images/map-full.svg) !important;
}
.dokuwiki .twistienav_map.twistienav_down.fa:before,
.dokuwiki a.twistienav_extratwistie.twistienav_down.fa:before {
    content: "\f279" !important;
    margin: 0 1px 0 6px !important;
}
div#twistienav__popup {
  background-color: #eef;
  color: #000;
  z-index: 20;
  overflow: hidden;
  opacity: 0.95;
  border: 1px solid @ini_border;
  background-color: @ini_background_alt;
  padding: 0.2em;
}
div#twistienav__popup ul {
  margin: 0px;
  padding: 5px;
}
div#twistienav__popup ul li {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
[dir=ltr] div#twistienav__popup ul li {
    text-align: left;
} 
[dir=rtl] div#twistienav__popup ul li {
    text-align: right;
} 
div#twistienav__popup ul li a.twistienav_ns {
  font-weight: bold;
}
