/** 
 * Stylesheet for TwistieNav plugin
 *
 * @author Håkan Sandell <sandell.hakan@gmail.com>
 */
/*
@font-face {
    font-family: 'twistienav';
    src:
        url('fonts/twistienav.ttf?5lqatv') format('truetype'),
        url('fonts/twistienav.woff?5lqatv') format('woff'),
        url('fonts/twistienav.svg?5lqatv#twistienav') format('svg');
    font-weight: normal;
    font-style: normal;
}
.dokuwiki div.breadcrumbs span.twistienav_twistie,
.dokuwiki div.breadcrumbs span.twistienav_map,
.dokuwiki a.twistienav_extratwistie {
    font-family: 'twistienav' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dokuwiki div.breadcrumbs span.twistienav_twistie:before {
    content: "\900";
    width: 1em;
    height: 1em;
}
*/
.dokuwiki div.breadcrumbs span.twistienav_twistie:before,
.dokuwiki div.breadcrumbs span.twistienav_map:before,
.dokuwiki a.twistienav_extratwistie:before {
    margin: 0 0 0 3px;
    cursor:alias;
}
.dokuwiki div.breadcrumbs span.twistienav_twistie:before {
    content: url(images/circle-right.svg);
}
/*
.dokuwiki div.breadcrumbs span.twistienav_twistie:hover:before {
    content: url(images/circle-right.svg);
}
*/
.dokuwiki div.breadcrumbs span.twistienav_twistie.twistienav_down:before {
    content: url(images/cancel-circle.svg) !important;
}
.dokuwiki div.breadcrumbs span.twistienav_map:before,
.dokuwiki a.twistienav_extratwistie:before {
    content: url(images/map.svg);
}
/*
.dokuwiki div.breadcrumbs span.twistienav_map:hover:before,
.dokuwiki a.twistienav_extratwistie:hover:before {
    content: url(images/map-full.svg);
}
*/
.dokuwiki .twistienav_map.twistienav_down:before,
.dokuwiki a.twistienav_extratwistie.twistienav_down:before {
    content: url(images/map-full.svg) !important;
}
div#twistienav__popup {
  background-color: #eef;
  color: #000;
  z-index: 20;
  overflow: hidden;
  opacity: 0.95;
  border: 1px solid @ini_border;
  background-color: @ini_background_alt;
  padding: 0.2em;
}
div#twistienav__popup ul {
  margin: 0px;
  padding: 5px;
}
div#twistienav__popup ul li {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
[dir=ltr] div#twistienav__popup ul li {
    text-align: left;
} 
[dir=rtl] div#twistienav__popup ul li {
    text-align: right;
} 
div#twistienav__popup ul li a.twistienav_ns {
  font-weight: bold;
}
